body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:url(images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    color: #333;
}

header {
    border-radius: 10px;
    background:url(BWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    padding: 1em;
    font-family: 'Luminari';
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    font-family: 'Lugrasimo', cursive;;
}

nav a:hover {
    color: #e44d26;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background:url(BWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    font-family: 'Lugrasimo', cursive;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #000000;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 15px;
}

.column img {
    max-width: auto;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    max-width: 175px;
    margin: -40px 0;
    float: left; 
}         